.color_t{
    color: #767171;
}

.course_text{
    font-size: 28px;
    margin-bottom: 0 !important;
}

.courses_text_basic{
    margin-bottom: 0 !important;
}

.bg_custom{
    margin-top: 6rem;
}

.col_left{
    padding-left: 0 !important;
}

.col_left img{
    width: 100%;
}

.bg_change{
    background-color: #f5e4e441 !important;
}

.col_width{
    flex: 0 0 30% !important;
}

.t_content{
    font-size: 20px;
    line-height: 28px !important;
}

.custom_shadow{
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    transition: all .3s linear;
}

.custom_shadow:hover{
    box-shadow: 0 20px 15px 0 rgba(0,0,0,0.1);
}

.sertificat_title{
    font-size: 32px;
    font-weight: bold;
    color: #656565;
}