body{
    user-select : none !important; 
}

.border_custom{
    border-top: 1px solid black;
    padding: 8px 0px;
}

.border_custom p{
    margin-bottom: 0px !important;
    font-size: 25px;
}

.child_bottom:last-child{
    border-bottom: 1px solid black;
}

.badge_custom{
  width: 40px;        
  height: 40px;       
  border-radius: 50%; 
  display: flex;      
  align-items: center;
  justify-content: center;
  font-size: 18px;    
  padding: 0;    
}

.cursor-pointer{
    cursor: pointer !important;
}